<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eighth.mapper.RecordsMapper">
  <resultMap id="BaseResultMap" type="com.eighth.pojo.Records">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="borrowtime" jdbcType="TIMESTAMP" property="borrowtime" />
    <result column="returntime" jdbcType="TIMESTAMP" property="returntime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="selectByUsername"  parameterType="String"  resultType="com.eighth.pojo.Records">
  	select * from t_records where username=#{username} ORDER BY rid DESC 
  </select>
 
 <!--查询超时的记录-->
  <select id="showTimeOutRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_records
    where (UNIX_TIMESTAMP(returntime) - UNIX_TIMESTAMP(now()))&lt;=0 and status!=4
  </select>

  <!--查询即将到期的记录-->
  <select id="showExpiration" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_records
    where (UNIX_TIMESTAMP(returntime) - UNIX_TIMESTAMP(now()))>=0 and (UNIX_TIMESTAMP(returntime) - UNIX_TIMESTAMP(now()))&lt;=172800 and status!=4
  </select>

  <!--更改借阅状态标识为超时-->
  <update id="updateStatusTimeOut" parameterType="com.eighth.pojo.Records">
    update t_records
    set status = 3
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <!--更改借阅状态标识为即将到期-->
  <update id="updateStatusExpiration" parameterType="com.eighth.pojo.Records">
    update t_records
    set status = 2
    where rid = #{rid,jdbcType=INTEGER}
  </update>


  <!--显示所有借阅记录-->
  <select id="showAllRecord" resultMap="BaseResultMap">
    select * from t_records ORDER BY rid DESC 
  </select>

  <!--查询指定借阅状态的记录-->
  <select id="searchByRecordStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_records where status = #{status,jdbcType=INTEGER} ORDER BY rid DESC 
  </select>

  <!--按借阅id更改借阅状态-->
  <update id="updateByRid" parameterType="com.eighth.pojo.Records">
    update t_records
    set status = #{status,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <!--<update id="updateByRid" parameterType="java.lang.Integer">
    update t_records
    set username = #{username,jdbcType=VARCHAR},
        bid = #{bid,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        borrowtime = #{borrowtime,jdbcType=TIMESTAMP},
        returntime = #{returntime,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>-->
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rid, username, bid, name, borrowtime, returntime, status
  </sql>
  <select id="selectByExample" parameterType="com.eighth.pojo.RecordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_records
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_records
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eighth.pojo.Records">
    insert into t_records (rid, username, bid, 
      name, borrowtime, returntime, 
      status)
    values (#{rid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{bid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{borrowtime,jdbcType=TIMESTAMP}, #{returntime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eighth.pojo.Records">
    insert into t_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="borrowtime != null">
        borrowtime,
      </if>
      <if test="returntime != null">
        returntime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="borrowtime != null">
        #{borrowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="returntime != null">
        #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eighth.pojo.Records">
    update t_records
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="borrowtime != null">
        borrowtime = #{borrowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="returntime != null">
        returntime = #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eighth.pojo.Records">
    update t_records
    set username = #{username,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      borrowtime = #{borrowtime,jdbcType=TIMESTAMP},
      returntime = #{returntime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>